.chart-bar {
    -fx-bar-fill: #00FF00; /* Green color */
}

.chart-axis {
    -fx-stroke: white; /* White color for axis lines */
}

.chart-axis-label {
    -fx-text-fill: white; /* White color for axis labels */
}

.chart {
    -fx-background-color: black; /* Black background color */
}

.table-view {
    -fx-background-color: #00FF00;
}

.table-view .column-header {
    -fx-background-color: black;
    -fx-text-fill: #00FF00;
    -fx-font-size: 9pt;
}

.table-view .column-header .label {
    -fx-padding: 8px;
}

.table-view .table-row-cell {
    -fx-padding: 8px;
    -fx-border-color: #222222;
    -fx-border-width: 1px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #00FF00;
}
.white-axis {
    -fx-tick-label-fill: white;
    -fx-font-size: 14pt;
}

.white-axis .axis-line {
    -fx-stroke: white;
    -fx-font-size: 16pt;
}

.white-axis .chart-area-background {
    -fx-background-color: transparent;
    -fx-font-size: 16pt;
}

.white-axis .zero-line {
    -fx-stroke: white;
    -fx-font-size: 16pt;
}